<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{this :: content}, 'auth-page', ~{})}">

<section th:fragment="content">

    <section class="card login-card">

        <h2 class="page-title" style="text-align:center;">Login</h2>

        <form th:action="@{/login}" method="post"
              style="display:flex; flex-direction:column; gap:15px;">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>

        <p style="text-align:center; margin-top:20px;">
            <a th:href="@{/register}" style="color:var(--accent);">
                Don’t have an account? Register
            </a>
        </p>

    </section>

</section>

</html>
