<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::body})}">
<body>
<section>
    <h2>Available Stocks</h2>

    <table border="1" style="width:100%; text-align:center;">
        <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Industry</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stock : ${stocks}">
            <td>
                <a th:href="@{/stocks/{code}(code=${stock.stockCode})}"
                   th:text="${stock.stockCode}"
                   style="color:#58a6ff; text-decoration:none; font-weight:bold;">
                </a>
            </td>
            <td th:text="${stock.stockName}"></td>
            <td th:text="${stock.industry}"></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>
