<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      th:replace="~{layout :: layout(~{::body})}">
<body>

<link rel="stylesheet" th:href="@{/css/upload.css}">

<div class="upload-container">
    <h1>Upload CSV</h1>

    <form action="#" method="post" enctype="multipart/form-data">

        <div class="upload-field">
            <input type="file" name="file">
        </div>

        <button class="upload-btn" type="submit">Upload</button>
    </form>

    <p class="message" th:if="${message != null}" th:text="${message}"></p>
</div>

</body>
</html>
